<% provide(:title, 'Backend') %>
<h1 class="centered">Backend Actions</h1>
<div class="three-quarters-card-center">
    <div class="backend-link"><%= link_to "Create an Update", new_update_path %>:
      <p>
        Use this link to create an update. You should be creating an update whenever you're team or subteam is up to something new, or something that missing members would want to hear about. Be liberal with your updates! Team members want to be kept in the loop!
      </p>
    </div>
    <div class="backend-link">
      <%= link_to "Create a Tutorial", new_tutorial_path %>:
      <p>
        Use this link to create a tutorial. Tutorials are useful if you want to provide information to all of your team members about a subject. Want to help people set up Ubuntu as a virtual box? Create a tutorial! Want to teach everyone the proper way to checkout a tool? Use tutorials!
      </p>
    </div>
    <div class="backend-link">
      <%= link_to "Create a Test", new_test_path %>:
      <p>
        Use this link to create a new test. Tests are used by teams to ensure that components work properly and according to specs before they are put on the robot. After creating a test, use the plus symbol at the bottom right to add test objectives.
      </p>
    </div>
    <div class="backend-link">
      <%= link_to "Create a Team", new_team_path %>:
      <p>
        Use this to create a new team. For the most part, all the teams will have already been created. If you should be creating a team, then you know what to do.
      </p>
    </div>
    <div class="backend-link">
      <%= link_to "Create a Subteam", new_subteam_path %>:
      <p>
        Use this link to create a subteam. As you break up your team into it's different groups, it will be helpful to organize everyone via subteam. This way, each subteam can be self contained, and updates pertaining to it will only go out to those members.
      </p>
    </div>
    <div class="backend-link">
      <%= link_to "Add a Member of the Week", new_weekly_award_path %>:
      <p>
        Use this link to assign a new member of the week. This will replace the member in the banner at the bottom of the homepage.
      </p>
    </div>
</div>