<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<div class="half-width-card-center center">
  <% @leaders.each do |leader| %>
  <div class="leader-wrapper">
    <div class="leader-top-container">
      <a href=<%= leader.avatar.url %> target="_blank"><img class="leader-pic" src=<%= leader.avatar.url %> ></a>
      <div class="info-container">
        <h3><a class="user-name" href="/users/<%= leader.id %>"><%= leader.name %></a></h3>
        <% if signed_in? %><p class="user-email"><%= leader.email %></p><% end %>
        <div class="user-bio"><%= leader.bio %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>