<div class="greeting splash-div">
	<div class="content-wrapper">
		<h1>Welcome to Illinois Robotics in Space</h1>
		<h4>A multidisciplinary student organization at UIUC</h4>
		<!-- <div class="email-signup"> -->
			<!-- <h4>Sponsors, organizations, and friends sign up for our mailing list!</h4> -->
			<%#= form_tag do %>
				<%#= text_field_tag(:email, nil, placeholder: 'Email') %><br>
				<%#= submit_tag("Sign up!", :class => 'email-submit btn') %>
			<%# end %>
		<!-- </div> -->
		<h4>Student looking to get involved with the project?</h4>
		<h4><%= link_to 'Sign up', signup_path %> to join our community site!</h4>
	</div>
</div>
<div class="about splash-div">
	<div class="about-card left">
		<div class="row">
			<div class="col-md-3 image-container">
				<%= image_tag 'about_pic1.png' %>
			</div>
			<div class="col-md-9 about-info">
				<p>IRIS is an organization that gives students the opportunity to design and create innovative robots for the <a href="http://www.nasa.gov/offices/education/centers/kennedy/technology/nasarmc.html">NASA robotic mining competition</a>. With a hands on learning environment and self directed work, we produce some of the best engineers on campus!</p>
			</div>
		</div>
	</div>
	<div class="about-card right">
		<div class="row">
			<div class="col-md-9 about-info">
				<p>The IRIS robot is a continuous work in progress. At the moment, we've completed our Critical Design Review and are about to begin building! As soon as it's complete we can start tests to ensure that it works as planned.</p>
			</div>
			<div class="col-md-3 image-container">
				<%= image_tag 'status_update1.png' %>
			</div>
		</div>
	</div>
	<div class="about-card left">
		<div class="row">
			<div class="col-md-3 image-container">
				<%= image_tag 'about_pic3.png' %>
			</div>
			<div class="col-md-9 about-info">
				<p>We are also very involved with the community, reaching out to elementary and high schools to encourage STEM for the younger generation. This unique experience is rewarding for both our members and the students they mentor.</p>
			</div>
		</div>
	</div>
</div>
<div class="sponsors splash-div">
<h2>Sponsor? We'd love to hear from you!</h2>
<h4>Contact us at <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a> or take a look at our <a href="/sponsors_packet" target="_blank">Sponsors Packet</a> for more details</h4>
</div>
<div class="contact splash-div">
	<div class="row">
		<div class="col-md-6 exec-container">
			<% unless @exec.empty? %><h3>Executive Board Members</h3><% end %>
			<% @exec.each do |exec| %>
				<div class="contact-card">
					<div class="row">
						<div class="col-md-3 headshot-container">
							<img class="leader-pic" src=<%= exec.avatar.url %> >
						</div>
						<div class="col-md-9 info-container">
							<h3><a class="user-name" href="/users/<%= exec.id %>"><%= exec.name %></a></h3>
			        <p class="user-role"><%= exec.role %></p>
			        <% if signed_in? %><a href="mailto:<%= exec.email %>" class="user-email"><%= exec.email %></a><% end %>
			        <div class="user-bio"><%= exec.bio %></div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-md-6 ateam-container">
			<% unless @ateam.empty? %><h3>Team Leaders</h3><% end %>
			<% @ateam.each do |ateam| %>
				<div class="contact-card">
					<div class="row">
						<div class="col-md-3 headshot-container">
							<img class="leader-pic" src=<%= ateam.avatar.url %> >
						</div>
						<div class="col-md-9 info-container">
							<h3><a class="user-name" href="/users/<%= ateam.id %>"><%= ateam.name %></a></h3>
			        <p class="user-role"><%= ateam.role %></p>
			        <% if signed_in? %><a href="mailto:<%= ateam.email %>" class="user-email"><%= ateam.email %></a><% end %>
			        <div class="user-bio"><%= ateam.bio %></div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<!-- Hard Coded Faculty Advisors -->
	<h3 class="faculty-advisors">Faculty Advisors</h3>
	<div class="row">
		<div class="col-md-6">
			<div class="contact-card">
				<div class="row">
					<div class="col-md-3 headshot-container">
						<%= image_tag 'hutchinson.jpg' %>
					</div>
					<div class="col-md-9 info-container">
						<h3><a class="user-name" href="http://www-cvr.ai.uiuc.edu/~seth/">Seth Hutchinson</a></h3>
		        <p class="user-role">Electrical and Autonomous Advisor</p>
		        <div class="user-bio">Seth is helping with the autonomous and electrical design of the robot. His extensive work with robotics is an invaluable asset to the IRIS team.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="contact-card">
				<div class="row">
					<div class="col-md-3 headshot-container">
						<%= image_tag 'woodard.jpeg' %>
					</div>
					<div class="col-md-9 info-container">
						<h3><a class="user-name" href="http://aerospace.illinois.edu/directory/profile/bswoodrd">Brian Woodard</a></h3>
		        <p class="user-role">Manufacturing and Design Advisor</p>
		        <div class="user-bio">Brian helps maintain IRIS' relationship with the campus machine shop, and aids in teaching design and manufacturing skills to students.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="splash-footer splash-div">
	<div class="row">
		<div class="col-md-4">
			<h6>Connect with us <a href="https://www.facebook.com/IllinoisRoboticsInSpace"><i class="fa fa-facebook"></i></a> | <a href="https://twitter.com/iris_uiuc"><i class="fa fa-twitter"></i></a></h6>
			<h6>Questions? Email <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a></h6>
		</div>
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
			<h6 class="right">&#169 Copyright 2014-2015</h6><h6 class="right">Illinois Robotics in Space @ <a href="http://illinois.edu/" class="uofi">The University of Illinois</a></h6>
		</div>
	</div>
</div>