<div class="wrapper">
  <div id="left-half-div">
    <!-- Populated by backbone -->
  </div>
  <div id="navigation-div">
    <div id="nav-region"><!-- Populated by backbone --></div>
    <% if signed_in? %><div id="filter-region"><!-- Populated by backbone --></div><% end %>
  </div>
  <div id="right-half-div">
    <!-- Populated by backbone -->
  </div>
</div>

<footer class="footer-container">
  <div class="footer-info">
    <div class="footer-heading">
      <h3>IRIS Members of the Week</h3>
    </div>
    <div class="member-of-week">
      <% if @first_member.avatar_url.nil?  %>
      <%= image_tag 'http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1410838106/default_nohvld.png' %>
      <% else %>
      <%= image_tag @first_member.avatar_url(:display) %>
      <% end %>
      <div class="info-container">
        <h3><a class="user-name" href="/users/<%= @first_member.id %>"><%= @first_member.name %></a></h3>
        <p><%= @first_member.weekly_award.award_week %></p>
      </div>
      <div class="award-description">
        <p><%= @first_member.weekly_award.award_description %></p>
      </div>
    </div>
  </div>
</footer>