<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="half-width-card-left">
    <%= form_for(@user) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= render partial: 'shared/picture_form', locals: { label: 'Choose an Avatar Picture', f: f } %>

      <%= f.label :bio, "A short bio" %>
      <%= f.text_area :bio, rows: 3 %>

      <%= f.label :password, "Password (to verfiy)" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="half-width-card-right team-memberships">
    <%= form_tag("/users/#{@user.id}/join_teams", method: :put, id: "join_teams") %>
    <div class="team-options">
      <% unless @teams.empty? %>
        <h4>Your Teams</h4>
        <% @teams.each do |team| %>
          <p><%= team.name %></p>
        <% end %>
      <% end %>
      <% unless @other_teams.empty? %>
        <h4>Join Teams</h4>
        <% @other_teams.each do |team| %>
          <p><%= check_box_tag("teams[#{team.id}]", true) %><%= "#{team.name}" %>: <%= "#{team.hook}" %> </p>
        <% end %>
      <% end %>
    </div>
    <div class="subteam-options">
      <% unless @subteams.empty? %>
        <h4>Your Subteams</h4>
        <% @subteams.each do |subteam| %>
          <p><%= subteam.name %></p>
        <% end %>
      <% end %>
      <% unless @other_subteams %>
        <h4>Join Subteams</h4>
        <% @other_subteams.each do |subteam| %>
          <%= check_box_tag("subteams[#{subteam.id}]", true) %><%= "#{subteam.name}"  %>: <%= subteam.hook %> </p>
        <% end %>
      <% end %>
    </div>

    <%= submit_tag("Join Teams", class: "btn btn-primary team-join-button") %>
</div>
</div>
