<% provide(:title, @user.name) %>
  <div class="half-width-card-center user-header-info">
    <div class="user-profile-info">
      <%= image_tag @user.avatar.url.to_s %>
      <div class="name">
      	<h3>
      		<%= @user.name %>
      	</h3>
      </div>
      <p class="description"><% if @user[:bio] %>
        <%= @user[:bio] %>
        <% elsif @user == current_user %>
        <%= link_to "Write a short bio", edit_user_path(current_user) %>
        <% end %>
      </p>
      </p>
    </div>
    <div class="teams">
      <% unless @teams.empty? %><h4>Teams</h4><% end %>
      <% @teams.each do |team| %>
        <p><%= link_to team.name, team %>: <%= team.hook %></p>
      <% end %>
    </div>
    <div class="subteams">
      <% unless @subteams.empty? %><h4>Subteams</h4><% end %>
      <% @subteams.each do |subteam| %>
        <p><%= link_to subteam.name, subteam %>: <%= subteam.hook %></p>
      <% end %>
    </div>
  </div>
  