<div class="info-container">
  <h3><a href="tasks/<%= id %>"><%= title %></a></h3>
  <% if(!(team_name === '')) { %><p><strong>Team:</strong> <a href="/teams/<%= team_id %>" class="linked-info"><%= team_name %></a></p><% } %>
  <% if(!(subteam_name === '')) { %><p><strong>Subteam:</strong> <a href="/subteams/<%= subteam_id %>" class="linked-info"><%= subteam_name %></a></p><% } %>
  <div class="content-container"><p><%= content %></p></div>
  <% if(!(author_id === 0)) { %><p><strong>By:</strong> <a href='/users/<%= author_id %>' class="task-user-name"><%= author_name %></a> on <%= created_at %></p><% } %>
  <% if(logged_in_id !== -1 && logged_in_id === author_id) { %><a href="/updates/<%= id %>/edit" class="edit-link">edit</a><% } %>
</div>
<div class="pic-container">
  <% for(var i = 0; i < pictures.length; i++) { %>
    <a href=<%= pictures[i].avatar.url %> target="_blank"><img class="content-pic" src=<%= pictures[i].avatar.thumb.url %> ></a>
  <% } %>
</div>
