<div class="top-container">
  <a href=<%= url %> target="_blank"><img class="user-pic" src=<%= thumb_url %> ></a>
  <div class="info-container">
    <h3><a class="user-name" href="/users/<%= id %>"><%= name %></a></h3>
    <% if(signed_in === true) { %><p class="user-email"><%= email %></p><% } %>
  </div>
</div>
<p class="user-bio"><%= bio %></p>