<% provide(:title, 'Test') %>

<div class="test-wrapper">
	<div class="test-info">
		<div class="active-test-info">
			<h3 class="test-name"><%= @test.name %></h3>
			<% if current_user.admin? %><%= link_to 'edit', edit_test_path(@test) %><% end %>
		  <h4>Team: <%= link_to "#{@test.team.name}", @test.team  unless @test.team.nil?%></h4>
		  <div class="circle-div complete-counter active"><span><%= @completed_count %></span></div>
		  <div class="circle-div incomplete-counter active"><span><%= @incomplete_count %></span></div>
		</div>
	  <div class="test-users">
	  	<h4>Testers</h4>
	  	<% @all_users.each do |user| %>
	  	<div class="user-info">
	  			<h5><a href="/users/<%= user.id %>"><%= user.name %></a></h5>
	  	</div>
	  	<% end %>
	  	<% unless @team_lead.nil? %>
	  	<div class="user-info">
	  			<h5>Team Lead: <a href="/users/<%= @team_lead.id %>"><%= @team_lead.name %></a></h5>
	  	</div>
	  	<% end %>
	  </div>
	  <div class="other-tests">
			<% @other_tests.each do |test| %>
				<div class="test-details">
					<h3 class="test-name"><%= link_to test.name, test %></h3>
				  <h4>Team: <%= link_to "#{test.team.name}", test.team  unless test.team.nil?%></h4>
				  <div class="circle-div complete-counter"><span><%= test.test_objectives.where(:status => 'completed').count %></span></div>
				  <div class="circle-div incomplete-counter"><span><%= test.test_objectives.where(:status => 'incomplete').count %></span></div>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="objectives-container active">
	<% unless @test.test_objectives.empty? %>
		<% @test.test_objectives.each do |objective| %>
			<%= render partial: 'objective_display', locals: {objective: objective} %>
		<% end %>
	<% end %>
	</div>
	<% if current_user.admin? %><div class="circle-div add-objective"><span><i class="fa fa-plus"></i></span></div><% end %>
	<div class="create-objective">
		
		<div class="display-item-card">
			<div class="response-container">
				<h5 class="response"></h5>
			</div>
			<%= form_for(@objective) do |f| %>

		    <%= f.label :objective, "Objective:", class: "form-label" %>
		    <%= f.text_field :objective, class: "test-objective" %><br/>
		    
		    <%= f.label :expected_result, "The Expected Result:", class: "form-label" %>
		    <%= f.text_field :expected_result, class: "expected-result" %><br/>

		    <%= f.label :users, 'Assign Team Members:' %>
		    <%= f.select :users, @users,{}, {multiple: true} %>

		    <input type="hidden" id="test_id" name="test_objective[test_id]" value="<%= @test.id %>" />

		    <%= f.submit "Add Another", class: "add-button btn btn-primary" %>

		    <%= f.submit "Finished", class: "submit-button btn btn-primary" %>
		  <% end %>
		</div>
	</div>
</div>
